<%namespace name='static' file='../static_content.html'/>
<%page expression_filter="h"/>
<%! from django.utils.translation import gettext as _ %>


<%inherit file="../main.html" />

<%block name="pagetitle">${_("Privacy Policy")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>
            <%block name="pageheader">${page_header or _("Privacy Policy")}</%block>
        </h1>
        <p>
            <%block name="pagecontent">
                <p>Redes Tecnológicas para la Educación se compromete a proteger y respetar su privacidad. Esta Política de Privacidad explica cómo recopilamos, usamos, divulgamos y protegemos su información personal cuando utiliza nuestra plataforma de aprendizaje en línea.</p>
                <h3>Información del responsable del tratamiento o de su representante</h3>
                <p>El responsable del tratamiento de sus datos personales es Redes Tecnológicas para la Educación.</p>
                <h3>Finalidad del tratamiento</h3>
                <p>Usaremos sus datos personales para los siguientes propósitos:</p>
                <ul>
                    <li>Proporcionar los servicios dentro de la plataforma de aprendizaje.</li>
                    <li>Contactarle en caso de aclaraciones o si solicita soporte.</li>
                    <li>Proporcionar asesorías por parte de los instructores.</li>
                    <li>Realizar comunicaciones generales con relación a la plataforma y los cursos.</li>
                </ul>
                <h3>Terceros destinatarios de los datos personales</h3>
                <P>No compartimos sus datos personales con terceros.</P>
                <h3>Transferencias internacionales</h3>
                <p>No realizamos transferencias internacionales de sus datos personales.</p>
                <h3>Plazo de conservación de los datos</h3>
                <p>Conservaremos sus datos personales durante el tiempo que esté registrado en la plataforma y durante 6 meses después de solicitar la cancelación del registro.</p>
                <h3>Artículo de Derechos ARCO</h3>
                <p>La plataforma de cursos en línea respeta y protege los derechos de Acceso, Rectificación, Cancelación y Oposición (ARCO) de los usuarios en relación con sus datos personales, de acuerdo con la legislación aplicable en materia de protección de datos.</p>
                <ol>
                    <li><strong>Derecho de Acceso</strong>: El usuario tiene derecho a obtener confirmación sobre si estamos tratando sus datos personales, así como a acceder a sus datos personales que tenemos en nuestra posesión.</li>
                    <li><strong>Derecho de Rectificación</strong>: El usuario tiene derecho a solicitar la rectificación de sus datos personales si estos son inexactos o incompletos.</li>
                    <li><strong>Derecho de Cancelación</strong>: El usuario tiene derecho a solicitar la cancelación o eliminación de sus datos personales cuando, entre otros motivos, los datos ya no sean necesarios para los fines para los que fueron recogidos.</li>
                    <li><strong>Derecho de Oposición</strong>: El usuario tiene derecho a oponerse al tratamiento de sus datos personales en determinadas circunstancias y por motivos relacionados con su situación particular.</li>
                </ol>
                <p>Para ejercer estos derechos, el usuario puede ponerse en contacto con nosotros a través de los medios proporcionados en nuestra Política de Privacidad. Es posible que solicitemos información adicional para verificar la identidad del usuario antes de procesar cualquier solicitud relacionada con los derechos ARCO.</p>
                <p>Por favor, ten en cuenta que el ejercicio de estos derechos puede estar sujeto a ciertas excepciones por motivos de interés público, como la prevención o detección de delitos, o nuestras propias obligaciones legales. En caso de conflicto, se preservarán los derechos y libertades de todos los interesados de acuerdo con las leyes y regulaciones aplicables.</p>
            </%block>
        </p>
        <!-- NEW IN INDIGO: add graphic image -->
        <div class="graphic-img">
            <img src="${static.url('images/privacy.svg')}" alt="Runs on Tutor" />
        </div>
    </section>
</main>
